<a href="https://colab.research.google.com/github/Reindolf-tieh/Reindolf/blob/main/Assignment_4_For_While_Loops%2C_Range%2C_List_Comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. FOR LOOPS

**MINI CHALLENGE #1:**
- **Write a code that takes in a string and prints it out on the screen except for any letter 'T'. You can replace the letter 'T' with '*'.**

In [14]:
name=input('')
name==name[]
get.name('t')='*'
print(name)

SyntaxError: ignored

# 2. RANGE

**MINI CHALLENGE #2:**
- **Write a code that takes in the maximum and minimum limits from the user and prints out even numbers only between the provided range**

In [21]:
min=int(input('input your minimum value: '))
max=int(input('input your maximum value: '))
for num in range(min,max):
  if num%2==0:
    print(num)

input your minimum value: 1
input your maximum value: 10
2
4
6
8

**MINI CHALLENGE #3:**
- **Write a code that generates the following table:**
```
1   1    1
2   4    8
3   9   27
4  16   64
5  25  125
6  36  216
7  49  343
8  64  512
9  81  729
10 100 1000
```

In [35]:
number=range(1,11,1)
for i in number:
  print(str(i) +'  '+ '  '+str(i**2)+'  '+' '+str(i**3))

1    1   1
2    4   8
3    9   27
4    16   64
5    25   125
6    36   216
7    49   343
8    64   512
9    81   729
10    100   1000

# 3. WHILE LOOPS

**MINI CHALLENGE #4:**
- **Write a code that displays numbers from 1 to 30 using for and while loops**

In [62]:
# number=0
# while number<31:
#   print(number)
#   number+=1
#   if number==31:
#     break

number=range(1,31,1)
for i in number:
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

**MINI CHALLENGE #5:**
- **Create a rolling dice game that assume we have two dice (#1 and #2). The dice is being thrown and a random number is generated everytime. The game should be designed such that it prompts the user to ask if he/she would like to keep playing or exit the game.**

# 4. BREAK A LOOP

**MINI CHALLENGE #6:**
- **Write a code that continiously gets data from the user and calculates the average and print out on the screen. The code exits when the user enters 'e'.**

# 5. NESTED LOOPS

**MINI CHALLENGE #7:**
- **Write a code that takes in a number (range between 1 and 9) from the user and print out the multiplication table up until that number.**

# 6. LIST COMPREHENSION

**MINI CHALLENGE #8:**
- **Write a code that takes in a list of prices of 7 items and then divide each price by the sum of all the prices**